<!DOCTYPE html>
<html>
  <head>
    <title>FP650 - Server Info</title>
    <link href="https://firepup650.repl.co/ejsstyle.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="https://firepup650.repl.co/favicon.ico">
    <link href="https://bouncecss.bookie0.repl.co/bounce.css" rel="stylesheet" type="text/css" />
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/visits"></script> -->
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/abtserv"></script> -->
  </head>
  <body class=center>
    <h3 class=rainbow>Server Info:</h3>
    <p class=rainbow>Author: <%= author %></p>
    <p class=rainbow>Uptime: <%= uptime %> seconds</p>
    <p class=rainbow>Total Pages: <%= images %></p>
    <script src="https://firepup650.repl.co/footer.js"></script>
  </body>
</html>