html, body {
  height: 100%;
  width: 100%;
  color: #00FF00;
  margin: 0;
  padding: 0;
}

html {
  background-color: #000000;
}

.warning {
  color: #FF0000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.block {
  width: 100%;
}

footer {
  margin-top: auto;
  text-align: center;
}

a:has(button) {
  box-shadow: none  !important;
  transform: none  !important;
}

#replit-badge {
  box-shadow: none;
  transform: none;
  outline: none;
  background: #000000;
}

.center {
  display: block;
  margin: 0  auto;
  text-align: center;
  color: #00FF00;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.rainbow {
  background: linear-gradient(to  right , #ff0000  0% , #e100ff  10% , #00b3ff  30% , #00ff1e  50% , #ff0000  90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.color {
  color: #00FF00;
}

.force-color {
  background: #00ff00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}